<%= form_with(model: @task, local: true) do |task| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= task.label :task_name %>
  <%= task.text_field :task_name %>
  <%= task.label :content %>
  <%= task.text_field :content %>
  <%= task.submit "Create my account"  %>
<% end %>
